<div class='container'>
  <div class='page-space'></div>
  <%= render partial: '/users/partials/event_block'%>
  <div class='page-space'></div>
  <%= render partial: '/users/partials/speaker_block'%>
</div>
