<div class='landing-jumbo-wrapper'>
  <div class='j-home'>
    <video id='about-video' preload muted autoplay loop >
      <source src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/video.mp4' type='video/mp4' />
      <source src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/video.ogv' type='video/ogg' />
    </video>
  </div>
</div>
<div class='full-page-space'></div>
