<div id='landing-jumbo-wrapper'>
  <div class='j-home'>
    <%# image_tag "bg5", class: 'j-img' %>
    <div id="particles-js"></div>
    <div id='particles-two'></div>
    <div class='header-text-group'>
      <img src='SHLogo.png' width='25%'/>
      <h1 class='header-text'>2 0 1 7</h1>
      <div class='page-space'></div>
      <a class='btn btn-info' type='button' data-toggle='modal' data-target='#registerModal'>
        Register Now
      </a>
      <%# link_to 'Register Now', 'https://www.eventbrite.com/e/startup-hacks-2017-business-startup-hackathon-for-youth-tickets-27669172239?ref=eweb', class: 'btn btn-info'%>
    </div>
  </div>
</div>

<!-- Date -->
<%= render partial: '/home/partials/block_one'%>

<%= render partial: '/home/temp_partials/speakers'%>

<%= render partial: '/home/temp_partials/sponsors'%>

<%= render partial: '/home/temp_partials/contact'%>

<%# if @speakers %>
  <%# render partial: '/home/partials/block_two'%>
<%#end%>

<%# if @sponsors %>
  <%# render partial: '/home/partials/block_three'%>
<%#end%>
