<div id='landing-jumbo-wrapper'>
  <div class='j-home'>
    <%# image_tag "bg5", class: 'j-img' %>
    <div id="particles-js"></div>
    <div id='particles-two'></div>
    <div class='header-text-group'>
      <h1 class='header-text'>S T A R T U P</h1>
      <h1 class='header-text'>H A C K S</h1>
      <h1 class='header-text'>2 0 1 7</h1>
    </div>
  </div>
</div>
<div id='landing-content-wrapper'>
  <div class='content-block'>
    <div class='container'>
      <center><h3>Launching January 11, 2017</h3></center>
    </div>
  </div>
</div>
<div class='content-block two'>
  <div class='container'>
    <center><h3>Speakers</h3></center>
  </div>
</div>
