<div class='landing-jumbo-wrapper'>
  <div class='j-home'>
    <div id='map' style='width: 100%;'></div>
  </div>
</div>


<!-- Map Script -->
<script>
  $(document).ready(function(){
    $(document).on('turbolinks:load', function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": 49.281356,
            "lng": -123.114606,
            "picture": {
              "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
              "width":  32,
              "height": 32
            },
            "infowindow": "Unbounce HQ: 401 W Georgia St, Vancouver, BC V6B 5A1"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

    });
  });
</script>
