<div class='landing-jumbo-wrapper'>
  <div class='j-home'>
    <div style='width: 100%;'>
      <div id="map" style='width: 100%; height: 50vh;'></div>
    </div>
  </div>
</div>

<%= render partial: '/home/temp_partials/venues'%>

<!-- Locations -->
<%= render partial: '/home/temp_partials/locations'%>
<%= render partial: '/home/partials/map_script'%>
