<div class='content-block two'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-offset-4 col-sm-4'>
        <center>
          <%= mail_to 'will@startupacademybc.org' do%>
            <h3 class='btn btn-danger btn-lg' style='width:100%'>Contact Us</h3>
          <%end%>
        </center>
      </div>

    </div>

  </div>
</div>
