<div class='content-block'>
  <div class='container'>
    <div class='row'>
      <center><h3>Speakers</h3></center>
    </div>
    <div class='page-space'>
      <%= render partial: '/home/temp_partials/speaker_diamonds'%>
    </div>
  </div>
</div>
