<div class='diamond-container center'>
  <div class='diamond' data-toggle='modal' data-target='#chinghingchang'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Chin+Hing+Chang+-+Spring+University.jpg' class=' pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Chin Hing Chang<br />
        <b><a href='http://springu.is/'>Spring University</a></b>
      </p>
    </div>
  </div>

  <div class='diamond' data-toggle='modal' data-target='#manishanarula'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Manisha+Narula+-+GradusOne(cropped).jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Manisha Narula<br />
        <b><a href='https://www.gradusone.com'>GradusOne</a></b>
      </p>
    </div>
  </div>

  <div class='diamond hussein' data-toggle='modal' data-target='#husseinhallak'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Hussein+Hallak+-+Launch+Academy.jpg' class=' pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Hussein Hallak<br />
        <b><a href='http://www.launchacademy.ca/'>Launch Academy</a></b>
      </p>
    </div>
  </div>

  <div class='diamond keith' data-toggle='modal' data-target='#keithippel'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Keith+Ippel+-+Spring+University.jpg' class=' pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Keith Ippel<br />
        <b><a href='http://springu.is/'>Spring University</a></b>
      </p>
    </div>
  </div>

  <div class='diamond lorie' data-toggle='modal' data-target='#loriecorcuera'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Lorie+Corcuera+-+SPARK.jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Lorie Corcuera<br />
        <b><a href='http://startyourspark.com/'>SPARK</a></b>
      </p>
    </div>
  </div>

  <div class='diamond amy' data-toggle='modal' data-target='#amyngai2' href=''>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Amy+Ngai.jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Amy Ngai<br />
        <b><a href='https://www.axiomzen.co/'>Axiom Zen</a></b>
      </p>
    </div>
  </div>

  <div class='diamond paulina' data-toggle='modal' data-target='#paulinacameron'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Paulina+Cameron+-+Futurpreneur.jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Paulina Cameron<br />
        <b><a href='http://www.futurpreneur.ca/en/'>Futurepreneur</a></b>
      </p>
    </div>
  </div>

  <div class='diamond roger' data-toggle='modal' data-target='#rogerhaskett'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Roger+Haskett+.jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Roger Haskett<br />
        <b><a href='http://www.engagementunlimited.ca/'>Engagement Unlimited</a></b>
      </p>
    </div>
  </div>

  <div class='diamond willson' data-toggle='modal' data-target='#willsoncross'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/WillsonCross.jpg' class='pic transition-fast'  />
    <div class='text-overlay'>
      <p>
        Willson Cross<br />
        <b><a href='https://gofetch.ca'>GoFetch</a></b>
      </p>
    </div>
  </div>

  <div class='diamond jonathan' data-toggle='modal' data-target='#jonathannatavio'>
    <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Jonathan+Natavio.jpg' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Jonathan Natavio<br />
        <b><a href='http://www.summonporter.ca/'>Porter</a></b>
      </p>
    </div>
  </div>

  <div class='diamond'>
    <img src='' class='pic transition-fast' />
    <div class='text-overlay'>
      <p>
        Speakers at Startup Hacks
      </p>
    </div>
  </div>
</div>
