<div class='content-block two'>
  <div class='container'>
    <div class='row'>
      <center><h3>Speakers</h3></center>
    </div>
    <div class='page-space'>
      <div class='row'>
        <%= render partial: '/home/temp_partials/speaker_list'%>
      </div>
    </div>
  </div>
</div>
