<div class='content-block two sponsor-background'>
  <div class='container'>
    <div class='row'>
      <center><h3>Sponsors</h3></center>
    </div>
    <div class='page-space'></div>
    <div class='page-space'></div>
    <%= render partial: '/home/temp_partials/sponsor_list'%>
  </div>
</div>
