<div class='content-block three'>
  <div class='container'>
    <div class='row'>
      <center><h3>Sponsors</h3></center>
    </div>
    <div class='page-space'></div>
    <div class='page-space'></div>
    <div class='row'>
      <%= render partial: '/home/temp_partials/sponsor_list'%>
    </div>
  </div>
</div>
