<div class='content-block'>
  <div class='container'>

    <!-- UNBOUNCE -->

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <center>
          <h1>Schedules & Venues</h1>
        </center>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <h3>Unbounce HQ</h3>
      </div>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='add-text'>
          401 W Georgia St,
          Vancouver,
          V6B 5A1
        </p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <p>
          Unbounce has pushed landing pages into the mainstream by empowering marketers to quickly build, publish & A/B test without I.T. bottlenecks. Today, we continue to help businesses create better marketing experiences by improving what is already the world’s fastest and most customizable landing page builder.
        </p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='schedule-text'>
          January 11, 2017: Opening Event @ Unbounce HQ (6pm)
        </p>
      </div>
    </div>

    <!-- HIVE -->

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <h3>HiVE Coworking space</h3>
      </div>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='add-text'>
          128 W Hastings St #210,
          Vancouver,
          V6B 1G8
        </p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <p>
          HiVE believes that in order to create social impact, Vancouver’s change-makers need to have a strong culture of collaboration along with accessible support services in place. They are making this happen by using the powerful tool of shared-space to co-work, host events, deliver programming, and build community.
        </p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='schedule-text'>
          January 17 - April 11: Workshop Series @ HiVE Coworking Space. (Every Tuesday from 5:30pm - 7:00pm)
        </p>
      </div>
    </div>

    <!-- SFU Gordon Leslie -->

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <h3>SFU Gordon and Leslie Diamond Auditorium</h3>
      </div>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='add-text'>
          2775 Laurel St,
          Vancouver,
          V5Z 1M9
        </p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <p class='schedule-text'>
          April 22, 2017: Hackathon @ SFU Diamond Auditorium. (TBA)
        </p>
      </div>
    </div>

  </div>
</div>
