<div class="modal fade" id="amyngai" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-default">
      <div class="modal-header panel-heading">
        <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-heading-txt modal-heading" id="myModalLabel"><center>Amy Ngai</center></h4>
      </div>
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Amy+Ngai.jpg' width='100%' />
      </center>
      <div class="modal-body panel-body">
        <p>
          Amy is Axiom Zen’s savvy product designer. She defines projects from concept to completion while ensuring that both user goals and business goals are met. She does this by producing creative wireframes and functional requirements that define world-class user experiences. Her experience goes way beyond AZ: Amy worked at AKQA in San Francisco, conceptualizing and devising interactive user experiences; and at Apple, as a business team specialist, Amy mastered Apple tech – crafting solutions for demanding end users.
        </p>
      </div>
    </div>
  </div>
</div>
