<div class="modal fade" id="amyngai2" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Amy+Ngai.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Amy Ngai : <a href='https://www.axiomzen.co/about/amy'>Axiom Zen</a>
          </h3>
          <a href='https://www.linkedin.com/in/amyngai'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Amy is Axiom Zen’s savvy product designer. She defines projects from concept to completion while ensuring that both user goals and business goals are met. She does this by producing creative wireframes and functional requirements that define world-class user experiences.
          </p><p>
            Her experience extends far beyond Axiom Zen: Amy worked at AKQA in San Francisco, conceptualizing and devising interactive user experiences; and at Apple, as a business team specialist, Amy mastered Apple tech – crafting solutions for demanding end users.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
