<div class="modal fade" id="chinghingchang" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Chin+Hing+Chang+-+Spring+University.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Chin Hing Chang : <a href='http://spring.is/team/'>Spring University</a>
          </h3>
          <a href='https://www.linkedin.com/in/chinhingchang/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Chin is a serial entrepreneur who is passionate about helping other entrepreneurs change the world. An award winning sales manager who has helped WIND and Bell launch 9 different stores, Chin loves tech, leadership development, and is also an active volunteer for Startup Week Vancouver, Vancouver Startup Weekend, TEDxEastVan, and SociaLIGHT. Chin has over 4 years of startup experience doing an aerial photography business (drone), an import/export business, and a restaurant mobile app.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
