<div class="modal fade" id="chinghingchang" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-heading-txt modal-heading" id="myModalLabel"><center>Ching Hing Chang</center></h4>
      </div>
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Chin+Hing+Chang+-+Spring+University.jpg' width='100%' />
      </center>
      <div class="modal-body panel-body">
        <p>
          Chin is a serial entrepreneur who is passionate about helping other entrepreneurs change the world. An award winning sales manager who has helped WIND and Bell launch 9 different stores, Chin loves tech, leadership development, and is also an active volunteer for Startup Week Vancouver, Vancouver Startup Weekend, TEDxEastVan, and SociaLIGHT. Chin has over 4 years of startup experience doing an aerial photography business (drone), an import/export business, and a restaurant mobile app.
        </p>
      </div>
    </div>
  </div>
</div>
