

<div class="modal fade" id="husseinhallak" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Hussein+Hallak+-+Launch+Academy.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Hussein Hallak : <a href='http://www.launchacademy.ca/story/'>: Launch Academy</a>
          </h3>
          <a href='https://www.linkedin.com/in/husseinhallak/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Serial Entrepreneur, Author of Breakthrough Content Marketing, General Manager of Launch Academy.
          </p>
          <p>
            Helping entrepreneurs build successful startups, create breakthrough content marketing, grow tribes, and move the world.
            Built 10+ startups, mentored 100+ entrepreneurs, led 10,000+ hours of live workshops, presented tech TV to 40+ million viewers, featured in Forbes, BBC, Entrepreneur, VancityBuzz, TextBook, Roundhouse Radio, and Notable.
          </p>
          <p>
            General Manager of Launch Academy, the leading tech startup Incubator based in Vancouver, Director of Marketing at TEDxStanleyPark, Executive Director at TiE Vancouver, and Tech Panelist on Roundhouse Radio.
          </p>
          <p>
            Previously, the Director of Learning & Development / Regional Director Consultant or BNI Middle East, BNI is the largest business networking organization in the world, with over 160,000 members worldwide. Founder and CEO of INFIN8VENTURES, an award-winning communications agency that won the prestigious SNCR Excellence in New Communications Award for Social Media Marketing alongside UBC and Adobe.
          </p>
          <p>
            Specialize in Breakthrough Performance, Accelerating Growth, Evoking Leadership, Inspiring Engagement, and Telling Stories.
            Purpose: to inspire possibility, to enable people, to achieve remarkable breakthroughs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
