<div class="modal fade" id="keithippel" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-heading-txt modal-heading" id="myModalLabel"><center>Keith Ippel</center></h4>
      </div>
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Keith+Ippel+-+Spring+University.jpg' width='100%' />
      </center>
      <div class="modal-body panel-body">
        <p>
          Keith is passionate about helping entrepreneurs change the world by connecting their ideas with the right tools, resources, technology, and funding. He is also passionate about Vancouver finding it's unique and important place in the global startup stage. Keith co-founded Spring to focus on early stage entrepreneurs with high growth potential who want to make the world a better place. Whether you call it social good, impact, conscious capitalism, do good, or social entrepreneurship - Spring is the place to transform your ideas into impact.
        </p>
      </div>
    </div>
  </div>
</div>
