<div class='col-sm-6'>
  <div class='panel panel-success'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#igorfaletski'>
          <h4 style='color: #fff;'>Igor Faletski</h4>
        </a>
        <p>CEO @ Mobify</p>
      </center>
    </div>
    <center>
      <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Igor+Faletski.jpeg' width='100%'/>
    </center>
  </div>
</div>
<div class='col-sm-6'>
  <div class='panel panel-success'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#danieldubois'>
          <h4 style='color: #fff;'>Daniel Dubois</h4>
        </a>
        <p>Founder and CEO @ ShareShed and Guiides.com</p>
      </center>
    </div>
    <center>
      <a type='button' data-toggle='modal' data-target='#danieldubois'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Daniel+Dubois.jpg' width='100%'/>
      </a>
    </center>
  </div>
</div>
