<div class='diamond-container'>
  <div class='container'>
    <div class='row'>
      <h3>Keynote Speakers</h3>
    </div>
    <div class='page-space'></div>
    <div class='row'>
      <center>
        <div class='col-sm-4'>
          <div class='diamond large' data-toggle='modal' data-target='#igorfaletski'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/igor-faletski2.jpg' class='pic pic-large transition-fast' />
            <div class='text-overlay'>
              <p>
                Igor Faletski<br />
                <b><a href='https://www.mobify.com/team-member/igor-faletski/'>Mobify</a></b>
              </p>
            </div>
          </div>
        </div>

        <div class='col-sm-4'>
          <div class='diamond large' data-toggle='modal' data-target='#danieldubois'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Daniel+Dubois.jpg' class='pic pic-large transition-fast' />
            <div class='text-overlay'>
              <p>
                Daniel Dubois<br />
                <b><a href='https://guiides.com/our-team/'>ShareShed & Guiides.com</a></b>
              </p>
            </div>
          </div>
        </div>

        <div class='col-sm-4'>
          <div class='diamond large' data-toggle='modal' data-target='#miluntesovic'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Milun+Tesovic.jpg' class='pic pic-large transition-fast' />
            <div class='text-overlay'>
              <p>
                Milun Tesovic<br />
                <b><a href='https://www.linkedin.com/in/miluntesovic/'>Expa & Metrolyrics</a></b>
              </p>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
