<div class="modal fade" id="loriecorcuera" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-heading-txt modal-heading" id="myModalLabel"><center>Lorie Corcuera</center></h4>
      </div>
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Lorie+Corcuera+-+SPARK.jpg' width='100%' />
      </center>
      <div class="modal-body panel-body">
        <p>
          Lorie is the Co-Founder and CEO at SPARK Creations & Company Inc., a heart based coaching and consulting organization that inspires people and companies to create meaningful cultures and workplaces. Over the past 20 years, Lorie has cultivated her people and culture development, community relations, and leadership coaching experience as both a strategic and progressive Senior People & Culture Leader in the high technology, professional services, retail, health & wellness, manufacturing & distribution, and non-profit industries. Lorie is a Certified Professional Co-Active Coach (CPCC) with The Coaches Training Institute (CTI) and graduated with a Bachelor of Commerce and Business Administration degree majoring in Human Resources Management from UBC. Lorie is currently the Co-Chair for the HRMA Learning & Development Roundtable, a business mentor for Futurepreneur Canada, a mentor for Dress for Success Vancouver, and Co-Founder of the social enterprise Enspire Foundation. Connect with Lorie at sparkcreationsinc.com.
        </p>
      </div>
    </div>
  </div>
</div>
