<div class="modal fade" id="manishanarula" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/ManishaNarula+-+GradusOne-cropped.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Manisha Narula : <a href='http://www.gradusone.com/'>GradusOne</a>
          </h3>
          <a href='https://www.linkedin.com/in/mnarula'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Manisha is the current Program Director of GradusOne, a non-profit organization designed to help students and recent grads take their first steps in their career. Manisha's passion for education, community engagement and social change has translated into all aspects of her life and career. She has a BBA in Entrepreneurship & Innovation and Human Resources from Simon Fraser University.  As a curious learner and storyteller, Manisha is dedicated to helping youth find their spark and face the question "What's next".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
