<div class="modal fade" id="miluntesovic" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Milun+Tesovic.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Milun Tesovic : <a href='http://expa.com/news/milun/'>Expa</a>
          </h3>
          <a href='https://www.linkedin.com/in/miluntesovic/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            As a former entrepreneur turned early stage investor, Milun currently participates in various funds targeting online startups and offline ventures. A globally relevant motivational speaker, he has presented in over 50 conferences world-wide and received accolates such as <b>Billboard's Top 30 Under 30</b>.
          </p>
          <p>
            Today, Milun splits his time between Vancouver and New York, actiing as advisor and mentor to numerous startups such as <i>Food.ee, Indiloop and Quiet.ly</i>. As a strong believer in the "pay-it-forward" movement, he seeks to support young visionaries and partners with small / medium sized businesses that resonate with his drive to foster innovative growth initiatives.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
