<div class="modal fade" id="paulinacameron" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Paulina+Cameron+-+Futurpreneur.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Paulina Cameron : <a href='http://www.futurpreneur.ca/en/about/'>Futurpreneur</a>
          </h3>
          <a href='https://www.linkedin.com/in/paulinacameron/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            I am an impact-driven leader, bridging the worlds of business + heart. I thrive at the intersection of people & making ideas happen. I cultivate individuals’ potential to build leadership capacity within them. I frequently coaches + advises rising stars, and am committed to #realtalk in all areas of life.
          </p>
          <p>
            My professional experience ranges from finance and management consulting, to non-profit leadership and strategy, and collaborative community development. My foundation in data & analysis allows me to cut through information to make results-focused strategic decisions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
