<div class="modal fade" id="rogerhaskett" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-heading-txt modal-heading" id="myModalLabel"><center>Roger Haskett</center></h4>
      </div>
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Roger+Haskett+.jpg' width='100%' />
      </center>
      <div class="modal-body panel-body">
        <p>
          Roger Haskett helps to make organizations, individuals, and events be more engaging. In his rich and diverse career as a speaker, actor, emcee, writer, director, and entrepreneur, Roger developed a unique formula for not only maximizing audience engagement, but influencing employees, members, participants, and everyone he meets to be more engaged and authentic individuals.
        </p>
        <p>
          Roger is an extremely passionate and positive individual with an infectious personality that will captivate and move you. He believes in creating playful energy, the power of storytelling, and getting people actively involved. He consistently delivers entertaining, interactive, and relevant experiences routed in his background as both an educator and actor. Roger's fast growing company, Engagement Unlimited, offers fresh new products for meetings and events that weave together entertainment, education, and team building, proving to clients that by maximizing participant engagement, ROI can be drastically improved.
        </p>
        <p>
          Roger holds a B.F.A. in Acting and a M.A in Education. He has acted in over 150 films, TV shows and commercials. You might have seen him in shows like X-Files, Supernatural, Stargate, I Robot, or Lovesick: Confessions of a Sex Addict…
        </p>
      </div>
    </div>
  </div>
</div>
