
<!-- Speaker 1 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#manishanarula'>
          <h4 style='color: #fff;'>Manisha Narula</h4>
        </a>
        <p>Gradus One</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/ManishaNarula+-+GradusOne-cropped.jpg' width='100%' style='max-height: 357px;' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 2 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#husseinhallak'>
          <h4 style='color: #fff;'>Hussein Hallak</h4>
        </a>
        <p>Launch Academy</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Hussein+Hallak+-+Launch+Academy.jpg' width='100%'/>
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 3 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#chinghingchang'>
          <h4 style='color: #fff;'>Ching Hing Chang</h4>
        </a>
        <p>Spring University</p>
      </center>

    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Chin+Hing+Chang+-+Spring+University.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 4 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#keithippel'>
          <h4 style='color: #fff;'>Keith Ippel</h4>
        </a>
        <p>Spring University</p>
      </center>

    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Keith+Ippel+-+Spring+University.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 5 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#loriecorcuera'>
          <h4 style='color: #fff;'>Lorie Corcuera</h4>
        </a>
        <p>SPARK</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Lorie+Corcuera+-+SPARK.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 6 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#amyngai'>
          <h4 style='color: #fff;'>Amy Ngai</h4>
        </a>
        <p>Axiom Zen</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Amy+Ngai.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 7 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#paulinacameron'>
          <h4 style='color: #fff;'>Paulina Cameron</h4>
        </a>
        <p>Futurpreneur</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Paulina+Cameron+-+Futurpreneur.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>

<!-- Speaker 8 -->
<div class='col-sm-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <center>
        <a type='button' data-toggle='modal' data-target='#rogerhaskett'>
          <h4 style='color: #fff;'>Roger Haskett</h4>
        </a>
        <p>Engagement Unlimited</p>
      </center>
    </div>
    <!-- <div class='panel-body'> -->
      <center>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/Roger+Haskett+.jpg' width='100%' />
      </center>
    <!-- </div> -->
  </div>
</div>
