<div class="modal fade" id="willsoncross" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Workshop+Speakers/WillsonCross.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Willson Cross : <a href='https://gofetch.ca/about/founders'>GoFetch</a>
          </h3>
          <a href='https://www.linkedin.com/in/willsoncross/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Willson is the co-founder of GoFetch. He is involved in crafting the company culture, shaping the brand, and innovating future growth opportunities in mobile marketplaces. Under Willson’s leadership, GoFetch is the epitome of the sharing economy, with plans to expand into new markets and offerings. Willson loves a good game of tennis, while not busy building Canada’s largest mobile marketplace. Willson received his Graduate Certificate in Digital Marketing from New York University and studied Commerce at the University of British Columbia.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
