<div class='row'>
  <div class='col-sm-8'>
    <div class='panel panel-success'>
      <div class='panel-heading'>
        <h4>Sponsors</h4>
      </div>
      <div class='panel-body'>
        <table class='table table-striped'>
          <tr>
            <th>Company Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <%@sponsors.each do |sponsor|%>
            <tr>
              <td><%=sponsor.company_name%></td>
              <td><%=truncate(sponsor.description, limit: 50, omission: ' ...')%></td>
              <td>
                <%= link_to 'Edit', edit_users_sponsor_path(sponsor), class:'btn btn-info btn-xs'%>
                <%= link_to 'Delete', users_sponsor_path(sponsor), method: :delete, class:'btn btn-danger btn-xs'%>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
