<div class='container'>
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-4'>
      <h2>Edit Speaker</h2>
    </div>
  </div>
  <div class='page-space'></div>
  <%= render partial: '/users/speakers/partials/speaker_form'%>
</div>
