<!-- <div id='landing-content-wrapper'> -->
  <div class='content-block'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <h3>About Start Up Academy</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <p>
            Startup Hacks is a non-coding, learning-based business startup hackathon including an all-inclusive series of workshops aimed towards high school students (grade 8 -12). These workshops will prepare teams for a final venture pitch competition, which will be presented to a panel of business professionals. Startup Hacks features twelve workshops running weekly, with various topics spanning from Ideation, Prototyping, Business Foundations, and more.
          </p>
        </div>
      </div>
      <div class='page-space'></div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <h3>What will I get out of this hackathon?</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <p>
            Throughout the weeks, attendees will attain a wide range of knowledge about business models, marketing, design, and more. However, aside from knowledge alone, we will be putting heavy emphasis on developing skills of attendees through teamwork, brainstorming, and presenting to professionals in the business field.
            All attendees will be given freebie bags and prototyping tools to build the application needed for the competition. The winning team of the final pitching competition will receive prizes for their excellent work!
          </p>
        </div>
      </div>
      <div class='page-space'></div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <h3>What is Startup Academy's goal?</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <p>
            Startup Academy aims to use Startup Hacks as a platform to promote social entrepreneurship to the next generation of business leaders by engaging like-minded youth and encourage to collaborate and prototype solutions to social issues facing society today.
          </p>
        </div>
      </div>
      <div class='page-space'></div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <h3>Who is allowed to participate, and how will teams be established?</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <p>
            This program is open to all students from grade 8-12. Single attendees will be placed into teams once registration is closed. Attendees with friends will be able to request to be in the same team, which we will fulfill to our best ability. Teams will be in groups of five, thus, it would be in your best interest to establish a group of five friends you would like to work with and sign up with the group option.
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
