<!-- <div id='landing-content-wrapper'> -->
  <div class='content-block'>
    <div class='container'>

      <p><h2>What Is Startup Hacks?</h2></p>
      <div class='page-space'></div>
      <h4 style='line-height: 1.5;'>
        Startup Hacks is a non-coding, learning-based business startup hackathon including an all-inclusive series of workshops aimed towards individuals interested in starting up their own business. These workshops will prepare teams for a final venture pitch competition, which will be presented to a panel of business professionals. Startup Hacks features twelve workshops running weekly, with various topics spanning from Ideation, Prototyping, Business Foundations, and more.
      </h4>

      <h4 style='line-height: 1.5;'><b>
        Join hundreds of aspiring entrepreneurs, business professionals and community leaders for Vancouver's Upcoming Startup Business Conference on April 22, 2017 at the beautiful Diamond Auditorium at SFU Burnaby.
      </b></h4>
    </div>
  </div>
<!-- </div> -->
