@media (min-width: 768px) {

  .content-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #fff;
  }

  .content-block.two {
    // background-color: #27C1F0;
    background-color: #3e3f3a;
    color: #fff;
  }

  .content-block.three {
    background-color: #fff;
    color: #222;
  }
}
