body, html {
  height: 100%;
}

.keynote-background {
  background-image: url('https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/5');
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.sponsor-background {
  background-image: url('https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/4');
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  float: inherit;
  clear: both;
}

.j-home {
  background-image: url('https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/1');
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  overflow: hidden;
}

.jumbo-img {
  width: 100%;
}

.jumbo-fade {
  background-color: rgba(100,100,100,0.7);
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}


// Link Color
a {
  color: #27C1F0;
}

a:hover {
  // color: #3E88E0;
  color: #27C1F0;
}

.modal-container > i {
  color: #3E88E0;
  font-size: 1.2rem;
}

.modal-container > i:hover {
  color: #222;
  font-size: 1.2rem;
}
// Laptop Screen

.btn-scroll {
  background-color: #fff !important;
  color: #D9534F !important;
}

.transition {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.transition-fast {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-bg {
  background-color: #3e3f3a;
  border-color: #3e3f3a;
}

.logged-nav-bg {
  background-color: #3e3f3a !important;
  border-color: #3e3f3a !important;
}

.panel {
  border-radius: 0px;
}

.panel .panel-heading {
  border-radius: 0px;
}

.row > h3 {
  text-align: center;
  // padding-left: 6.5rem;
}

@media (min-width: 768px) {

  .logo-box > img {
    max-width: 30%;
  }

  .logo-box {
    background-color: rgba(100,100,100,0.3);
    border-radius: 3px;
    padding-bottom: 3rem;
    width: 100%;
    height: 100vh;
    // padding-top: 2rem;
    // padding-bottom: 0.2rem;
  }

  .jumbo-logo {
    margin-top: 15%;
    margin-bottom: 30%;
    margin-left: 35%;
    margin-right: 20%;
  }

  #home-video {
    width: 100%;
    left: 0;
  }

  #nav-btn {
    margin-top: 3.4rem;
  }

  #landing-jumbo-wrapper {
    max-height: 100vh;
    overflow: hidden;
  }

  #landing-content-wrapper {
    position: relative;
    // margin-top: 91vh;
  }

  .navbar-default {
    // background-color: rgba(100, 100, 100, 0);
    // border-color: rgba(100, 100, 100, 0);

    background-color: #3E88E0;
    border-color: #3E88E0;
  }

  .show {
    background-color: #222222;
    border-color: #222222;
    // background-color: #3E88E0;
    // border-color: #3E88E0;
  }

  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: #EFF6FA;
  }

  .header-text-group {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 40%;
    // left: 43.5%;
    text-align: center;
  }

}
